<div class="container" >

	<div class="card">
		<form id="my" name="assignmentForm" ng-submit="postAssignment()">
			<div class="container-fluid assignment-content" >
				<div class="row">
					<div class="input-field col s6">
						<input ng-model ="asgmt.title" id="login" type="text" class="validate">
						<label for="login">Title</label>
					</div>

					<div class="input-field col s6">
						<input ng-model="asgmt.due" id="due" type="text" class="validate">
						<label for="due">Due</label>
					</div>

				</div>	
				<div class="row">
					<div class="input-field col s4">
						<select ng-model="asgmt.class" ng-options="value for value in getadata()">

						</select>
					</div>



					<div class="input-field col s4">
						<input ng-model="asgmt.note" id="notes" type="text" class="validate">
						<label for="notes">Note</label>
					</div>

					<div class="file-field input-field col s4">
						<div class="btn">
							<span>File</span>
							<input class="myFile" type="file">
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						</div>
					</div>


				</div>	

				<button class="submit-btn btn waves-effect waves-light right" type="submit" name="action">Submit
					<i class="material-icons right">send</i>
				</button>
			</div>

		</form>
	</div>
	<div>

	<div class="heading">ASSIGNMENTS</div>
		<table class="responsive-table striped">
			<thead>
				<tr><th>Due Date</th>

					<th>Title</th></tr>
				</thead>

				<tbody>
					<tr ng-repeat="c in getAssignmentsData()">

						<td>{{c["due"]}}</td>
						<td>{{c["title"]}}</td>
					</tr>
				</table>

			</div>
		</div>

		<script type="text/javascript">
			$(document).ready(function() {
				$('select').material_select();

				

			});



		</script>